body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .styles-module_root__Xsw1F {
  position: absolute;
  background: white;
  top: 50%;
  left: 26%;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles-module_close_button__DxxjM {
  position: absolute;
  left: 97%;
  top: -5%;
  width: 5%;
  height: 18%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
